@font-face {
    font-family: x; src: url(a), local(Impact); unicode-range: U+62;
}
@font-face {
    font-family: x; src: url(b), local(Impact); unicode-range: U+63;
}
@font-face {
    font-family: x; src: url(c), local(Impact); unicode-range: U+64;
}
@font-face {
    font-family: x; src: url(d), local(Impact); unicode-range: U+65;
}
@font-face {
    font-family: x; src: url(e), local(Impact); unicode-range: U+66;
}
@font-face {
    font-family: x; src: url(f), local(Impact); unicode-range: U+67;
}
@font-face {
    font-family: x; src: url(g), local(Impact); unicode-range: U+68;
}
@font-face {
    font-family: x; src: url(h), local(Impact); unicode-range: U+69;
}
@font-face {
    font-family: x; src: url(i), local(Impact); unicode-range: U+70;
}
@font-face {
    font-family: x; src: url(j), local(Impact); unicode-range: U+71;
}
@font-face {
    font-family: x; src: url(k), local(Impact); unicode-range: U+72;
}
@font-face {
    font-family: x; src: url(l), local(Impact); unicode-range: U+73;
}
@font-face {
    font-family: x; src: url(m), local(Impact); unicode-range: U+74;
}
@font-face {
    font-family: x; src: url(n), local(Impact); unicode-range: U+75;
}
@font-face {
    font-family: x; src: url(o), local(Impact); unicode-range: U+76;
}
@font-face {
    font-family: x; src: url(p), local(Impact); unicode-range: U+77;
}
@font-face {
    font-family: x; src: url(q), local(Impact); unicode-range: U+78;
}
@font-face {
    font-family: x; src: url(r), local(Impact); unicode-range: U+79;
}
@font-face {
    font-family: x; src: url(s), local(Impact); unicode-range: U+80;
}
@font-face {
    font-family: x; src: url(t), local(Impact); unicode-range: U+81;
}
@font-face {
    font-family: x; src: url(u), local(Impact); unicode-range: U+82;
}
@font-face {
    font-family: x; src: url(v), local(Impact); unicode-range: U+83;
}
@font-face {
    font-family: x; src: url(w), local(Impact); unicode-range: U+84;
}
@font-face {
    font-family: x; src: url(x), local(Impact); unicode-range: U+85;
}
@font-face {
    font-family: x; src: url(y), local(Impact); unicode-range: U+86;
}
@font-face {
    font-family: x; src: url(z), local(Impact); unicode-range: U+87;
}